.bookGuessing {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 10px;
  padding: 10px;
  height: 100%;
}

.output {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--boxColor);
  color: white;
}

.inputs {
  display: flex;
  gap: 10px;
}

.input-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--boxColor);
  overflow: hidden;
}

.input-left-top {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 10px;
  height: 90%;
  justify-content: center;
}

.input-left-bottom {
  position: relative;
  display: flex;
  height: 90%;
  justify-content: center;
}

.input-right {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--boxColor);
}

.input-right-top {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  height: 90%;
}

.input-right-bottom {
  height: 90%;
}

.guessButtons {
  height: 100%;
  width: 30px;
  border-radius: 5px;
  border: 0;
}

.guessButtonsRight {
  background-color: rgb(16, 117, 16);
  color: white;
}

.guessButtonsWrong {
  background-color: rgb(201, 17, 17);
  color: white;
}

.resultDisplayColorRight {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.resultDisplayColorWrong {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}