:root {
  box-sizing: border-box;
  margin: 0;
  --boxColor: #000000df;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 0px;
  margin: 0;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /*padding-top: 100px;*/
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.831);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  border: none;
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
