.result{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;

}
.resultTop{
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;


  background-color: lightseagreen;


}
.result p{
  padding: 5px 50px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;

}
.resultTopScore{
  display: flex;
  justify-content: space-around;
  

  background-color: lightgreen;

}
.resultBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  background-color: lightcoral;
}
.resultBottom button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: white;
}