.result{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;

}
.resultTop{
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;


  background-color: rgba(170, 170, 170, 0.384);


}
.result p{
  padding: 5px 50px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;

}
.resultTopScore{
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.425);
  

}
.resultMiddle{
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.425);
}

.resultMiddleStats{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
}
.resultMiddleStatInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}







.resultBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.384);


}
.resultBottom button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: white;
}