:root {
  box-sizing: border-box;
  margin: 0;
  --boxColor: #000000df;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 0px;
}

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.831);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  border: none;
  width: 80%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bookGuessing {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 10px;
  min-height: 550px;
  height: 100%;
  padding: 10px;
}


.output {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--boxColor);
  color: white;
}

.inputs {
  display: flex;
  gap: 10px;
}

.input-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--boxColor);
  overflow: hidden;
}

.input-left-top {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 10px;
  height: 90%;
  justify-content: center;
}

.input-left-bottom {
  position: relative;
  display: flex;
  height: 90%;
  justify-content: center;
}

.input-right {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--boxColor);
}

.input-right-top {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  height: 90%;
}

.input-right-bottom {
  height: 90%;
}

.guessButtons {
  height: 100%;
  width: 30px;
  border-radius: 5px;
  border: 0;
}

.guessButtonsRight {
  background-color: rgb(16, 117, 16);
  color: white;
}

.guessButtonsWrong {
  background-color: rgb(201, 17, 17);
  color: white;
}

.resultDisplayColorRight {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.resultDisplayColorWrong {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}